<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>demo.HelloServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>demo.LogFilter</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Paramter</param-value>
		</init-param>
	</filter>
	<filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>demo.AuthenFilter</filter-class>
    </filter>
    
    <filter-mapping>
       <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	   <servlet-name>ErrorHandler</servlet-name>
	   <servlet-class>demo.ErrorHandler</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>ErrorHandler</servlet-name>
	   <url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	<error-page>
	   <error-code>404</error-code>
	   <location>/ErrorHandler</location>
	</error-page>
	<error-page>
	   <exception-type>java.lang.Throwable</exception-type>
	   <location>/ErrorHandler</location>
	</error-page>
</web-app>